.grecaptcha-badge {
  visibility: hidden;
}

.circle-sm {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.grid--first-column-shrink {
  display: grid;
  grid-template-columns: min-content auto;
}

.grid--first-column-shrink > *:first-child {
  padding-right: 8px;
}

.clamped-text--five-lines {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  -moz-box-orient: vertical;
  text-overflow: ellipsis;
}

.simple-text a {
  color: inherit;
}

