.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  -moz-box-orient: vertical;
  text-overflow: "ellipsis";
}

.circle-sm {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.window-container {
  padding: 24px;
}

.paragraphed-container > div {
  padding-bottom: 16px;
}

.container--center-focus {
  display: flex;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.grid--first-column-shrink {
  display: grid;
  grid-template-columns: min-content auto;
}

.grid--first-column-shrink > *:first-child {
  padding-right: 8px;
}

.account-form {
  margin: 16px 0 !important;
}

.account-form > * {
  margin: 8px 0 !important;
}

.support-form {
  margin: 16px 0 !important;
}

.support-form > * {
  margin: 0 0 24px !important;
}

.form-paper {
  padding: 32px;
  text-align: center;
}

.form-box > * {
  margin: 4px 0 !important;
}

.textual-icon-button,
.iconic-text-button {
  display: inline;
  text-decoration: none !important;
}

.textual-icon-button {
  background-color: inherit !important;
}

.textual-icon-button > * {
  font-size: medium;
}

.faq a {
  color: inherit;
}

/* RATINGS BREAKDOWN */
.rating-breakdown--grid-container {
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-areas:
    "accuracy rating0"
    "expertise rating1"
    "strength rating2";
}

.rating-breakdown--grid-container-item {
  display: flex;
  margin: auto;
}

.rating-breakdown-grid--field0 {
  grid-area: accuracy;
}

.rating-breakdown-grid--rating0 {
  grid-area: rating0;
}

.rating-breakdown-grid--field1 {
  grid-area: expertise;
}

.rating-breakdown-grid--rating1 {
  grid-area: rating1;
}

.rating-breakdown-grid--field2 {
  grid-area: strength;
}

.rating-breakdown-grid--rating2 {
  grid-area: rating2;
}
/* ------------------ */

