[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-django = "*"
autopep8 = "*"

[packages]
django = "3.2.4"
psycopg2 = "2.6.1"
graphene-django = "3.0.0b6"
django-cors-headers = "*"
requests = "*"
newspaper3k = "*"
django-dotenv = "*"
gunicorn = "*"
django-heroku = "*"
rollbar = "*"
boto3 = "*"
django-storages = "*"
graphene-file-upload = "*"
psycopg2-binary = "*"
django-graphql-jwt = {git = "https://github.com/flavors/django-graphql-jwt"}
django-csp = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
